<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>







<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }

function showPosition(position)
  {
  var latlon=position.coords.latitude+","+position.coords.longitude;

  var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
  +latlon+"&zoom=14&size=400x300&sensor=false";
  document.getElementById("mapholder").innerHTML="<img src='"+img_url+"'>";
  document.getElementById("lat").innerHTML=position.coords.latitude
  document.getElementById("long").innerHTML=position.coords.longitude

  }

function showError(error)
  {
  switch(error.code) 
    {
    case error.PERMISSION_DENIED:
      x.innerHTML="User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML="Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML="The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML="An unknown error occurred."
      break;
    }
  }
</script>


  <div class="field">
    <h2> What is your first name? </h2>
    <ul class="bullets">
      <p><%= f.text_field :FirstName, placeholder: "First Name"%><p>


    </ul>
  </div>


  <div class="field">
    <h2> What is your last name? </h2>
    <ul class="bullets">
      <%= f.text_field :LastName, placeholder: "Last Name" %>
    </ul>
  </div>

  <div class="field">
    <h2> Select a Username. </h2>
    <ul class="bullets">
      <%= f.text_field :Username, placeholder: "Username" %><br>
    </ul>
  </div>

  <div class="field">
    <h2> Choose a Password. </h2>
    <ul class="bullets">
      <%= f.password_field :Password, placeholder: "Password" %>
    </ul>
  </div>

<div class="field">
<!--   Latitude:<span id="lat"></span><br>
  Longitude:<span id="long"><span><br> -->
  lat:<span id="lat"></span><br>
  long:<span id="long"></span><br>
  <label for="user_latitude"></label>
 <!--  <input id="user_latitude" name="user[latitude]" type="button" onClick="getLocation()" value="Find Me!"/>  -->
<input type="button" onclick="getLocation()" value="Find Me!"></input><br>

<body>
  <div id="mapholder" align="center">

</div>
</body>

</div>


  <div class="field">
    <h2> Latitude </h2>
    <ul class="bullets">
      <%=f.text_field :latitude %>
    </ul>
  </div>

<!--     <div class="field">
    <h2> Longitude </h2>
    <ul class="bullets">
      <%= f.text_field #:Longitude%>
    </ul>
  </div> -->


  <div class="field">
    <h2> Location </h2>
    <ul class="bullets">
      <%=f.text_field :Location %>
    </ul>
  </div>



  <div class="field">
    <h2> Describe you athletic Skillsssss </h2>
    <ul class="bullets">
      <%= f.text_area :SelfDescription, placeholder: "Enter Description Here" %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  
<% end %>
</div>
