<h1>This is where we can find people who want to play.</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Password</th>
      <th>Location</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Self Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.FirstName %></td>
        <td><%= user.LastName %></td>
        <td><%= user.Username %></td>
        <td><%= user.Password %></td>
        <td><%= user.Location %></td>
        <td><%= user.Longitude %></td>
        <td><%= user.Latitude %></td>
        <td><%= user.SelfDescription %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to "People in Cambridge", local_location_path(Cambridge) %>
