<p id="notice"><%= notice %></p>
<html>
<body>
<ul>


<p>
  <strong>Name:</strong>
  <%= @user.FirstName %> <%= @user.LastName %>
</p>

<!-- <p>
  <strong>Lastname:</strong>
  
</p> -->

<p>
  <strong>Username:</strong>
  <%= @user.Username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>



<p>
  <strong>Location:</strong>
  <%= @user.Location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user.Longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user.Latitude %>
</p>

<p>
  <strong>Self Description:</strong>
  <%= @user.SelfDescription %>
</p>




<% @user_pref= UserSport.where(:user_id=> [@user.id]) %>
<% @user_pref.each do |game| %>

 

    <% @sport_users= UserSport.where(:sport=> [game.sport])%>
    <% @sport_users.each do |baller| %>



        <% @baller_id = baller.user_id%>

        <%player = User.find(@baller_id)%>

        <% @loclist = User.where(:Location=>[player.Location]).where.not(:id=>[@user.id]) %>
          <% @loclist.each do |i| %>
        <p>
  <table>
    <td><%= i.FirstName %> </td><p>
    <td><%= i.LastName %> </td><p>
    <td><%= i.Location %></td>
    <td><%= baller.sport%></td>
  </table>
<% end %>
<% end %>
<% end %>

</p> 






</ul>
</body>
</html>

<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
