<p id="notice"><%= notice %></p>
<html>
<body>
<ul>


<p>
  <strong>Name:</strong>
  <%= @user.FirstName %> <%= @user.LastName %>
</p>

<!-- <p>
  <strong>Lastname:</strong>
  
</p> -->

<p>
  <strong>Username:</strong>
  <%= @user.Username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>



<p>
  <strong>Location:</strong>
  <%= @user.Location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user.Longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user.Latitude %>
</p>

<p>
  <strong>Self Description:</strong>
  <%= @user.SelfDescription %>
</p>



<% @user_pref= UserSport.where(:user_id=> [@user.id]) %>
<% @user_pref.each do |game| %>
    <% @mySport = game.sport %><br>
    <% @sport_users= UserSport.where(:sport=> [game.sport]).where.not(:user_id=>[@user.id])%>
    <% @sport_users.each do |baller| %>
        <% @baller_id = baller.user_id%>
        <% @player = User.find(@baller_id)%><br>
        <% @loclist = User.where(:Location=>[@user.Location],:id =>[@baller_id]) %>  
          <% @loclist.each do |i| %>
            <p>
              <thead><strong>People in <%= i.Location %> who play <%=@mySport%>!</strong><br></thead>
              <table>
                <td><%= i.FirstName %></td>
                <td><%= i.LastName %></td>
                
            </table>
            </p> 
          <%end%>
      <% end %>
<% end %>
</ul>
</body>
</html>

<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
