<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dummy_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dummy_user.email %>
</p>

<%= link_to 'Edit', edit_dummy_user_path(@dummy_user) %> |
<%= link_to 'Back', dummy_users_path %>
